@media only screen and (min-width: 1335px){
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 320px;

}
main{
    height: 620px;
    background-color: rgba(206, 206, 14, 0.349);
}
footer{
    height: 200px;
}
header .navbar {
    background-color: black;
    opacity: 60%;
    height: 100%;
    width: 100%;
}
#navbar-content{
    color: whitesmoke;
    font-size: 30px;
}
header .navbar #h3-navbar{
    font-weight: lighter;
    font-size: 23px;
    float: right;
    border-right: rgba(206, 206, 14, 0.349);
}
main #left-img{
    height: 400px;
    width: 500px;
    float: left;
}
main #right-img{
    height: 400px;
    width: 500px;
    float: right;
}
main #right-img #img-right{
    padding-right: 50px;
}
}
    
